<h1>Welcome to my Ruby library App</h1>

<h3>by Aimé Guy Dongmo</h3>

<ul>
<li>Programming</li>
<li>Fun</li>
<li>Party</li>
</ul> 


<p>this is my first library app</p>


<p>Date of creation: 17.01.2012</p>
